#container-top {
    text-align: right;
    color: #333;
    padding-right: 15px;
    font-size: 12px;
}

.navbar {
	padding: 4px 0;
}

.navbar-brand img {
    height:42px;
    margin-top: -10px;
}

.material-text {
    color: #ffb900;
    font-weight: bold;
}

.navbar-nav li:hover {
	opacity: 0.4;
}