@charset "UTF-8";

header {
    width: 100%;
    text-align: right;
    color: #444;
    font-size: 12px;
}

.navbar-brand img {
    height: 42px;
    margin-top: -10px;
}

form img {
    width: 18px;
}

.material-text {
    color: #ffb900;
    font-weight: bold;
}

.navbar-nav li:hover {
    opacity: 0.4;
}