h2 {
  padding: .25em 0 .25em 0;
  border-left: 6px solid #ffbb00;
  width: 210px;
}

.main {
	width: 480px;
	margin: 20px auto 0 auto;
}

.panel {
    padding: 20px;
}

.form-field {
   border: 1px solid #646464;
   background: #ffffff;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #333333;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:100%;
}
.form-field:focus {
   background: #fff;
   color: #333333;
}
.form-container h2 {
   text-shadow: #ffffff 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
}
.form-header {
   color: #000032;
   text-shadow: #ffffff 0 1px 0;
   font-weight: bold;
   margin-bottom: 20px;
}
.form-title {
   color: #000032;
   text-shadow: #ffffff 0 1px 0;
   font-weight: bold;
   margin-bottom: 5px;
}
.submit-container {
   margin:8px 0;
   text-align:right;
}
.submit-button {
   border: 1px solid #ffffff;
   background: #ffbb00;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #ffffff;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}
.submit-button:hover {
    opacity: 0.6;
}